:root{
    --cor-fundo: rgb(53, 63, 63);
    --cor-principal: rgb(1, 60, 78);
    --cor-secundaria: rgb(0, 189, 214);
    --cor-destaque: rgb(0, 218, 247);
    --cor-texto: rgb(255, 255, 255);
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 100%;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}

button{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}