:root{
    --cor-fundo: rgb(53, 63, 63);
    --cor-principal: rgb(2, 106, 138);
    --cor-secundaria: rgb(0, 189, 214);
    --cor-destaque: rgb(0, 218, 247);
    --cor-texto: rgb(255, 255, 255);
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
}